/*Create a div with CodeCrew inside of it with a blue background and 20% width. Give it a class of flyingCodeCrew. In your javascript, when the key for down is press, make the relative position go down 10px. If the key for up is pressed, make the relative position go up for 10px. Do the same for left and right.*/

div{
    background-color: blue;
    width: 20%;
}
.flyingCodeCrew{
    position: relative;
    bottom: 10px;
}